@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

#map {
  touch-action: none;
  pointer-events: none;
}

.leaflet-control-container .leaflet-control-attribution {
  display: none;
}

.leaflet-control-attribution {
  position: absolute !important;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  opacity: 0.3;
  color: white;
  background: transparent;
}